<div id="header">
	<div id="logo">
		<a href="/"><img src="images/logo.png" alt="LOGO" height="100" width="200"></a>
	</div>
    <div id="navigation">
		<ul>
			<!-- The class attribute is conditionally set to "active" using a Handlebars if statement.
     		The eq helper compares the currentRoute variable to the string 'travel'.
     		If currentRoute equals 'travel', it means the user is on the Travel page,
     		and the "active" class is added to highlight this navigation item.
     		If currentRoute does not equal 'travel', no class is added, and the
			navigation item is not highlighted. -->
			<li class="{{#if (eq currentRoute 'home')}}selected{{/if}}">
				<a href="/">Home</a>
			</li>
			<li class="{{#if (eq currentRoute 'travel')}}selected{{/if}}">
				<a href="/travel">Travel</a>
			</li>
			<li class="{{#if (eq currentRoute 'rooms')}}selected{{/if}}">
				<a href="/rooms">Rooms</a>
			</li>
			<li class="{{#if (eq currentRoute 'meals')}}selected{{/if}}">
				<a href="/meals">Meals</a>
			</li>
			<li class="{{#if (eq currentRoute 'news')}}selected{{/if}}">
				<a href="/news">News</a>
			</li>
			<li class="{{#if (eq currentRoute 'about')}}selected{{/if}}">
				<a href="/about">About</a>
			</li>
			<li class="{{#if (eq currentRoute 'contact')}}selected{{/if}}">
				<a href="/contact">Contact</a>
			</li>
		</ul>
	</div>
</div>